<div *ngIf="workshop" >
  <h2>{{ workshop.title }}</h2>

  <div class="content" >
    <div>
      <img [src]="workshop.poster" [alt]="workshop.title">
    </div>
    <div>
      <p>{{ workshop.description }}</p>
      <div>
        Cronograma
        <table>
          <tr>
            <td>Fecha:</td>
            <td>{{ workshop.date | date: 'dd/MM/yyyy' }}</td>
          </tr>
          <tr>
            <td>Horario:</td>
            <td>{{ workshop.start | date: 'hh:mm' }} - {{ workshop.end | date: 'hh:mm' }}</td>
          </tr>
          <tr>
            <td>Vacantes:</td>
            <td>{{ workshop.vacancies }}</td>
          </tr>
        </table>

        <div>
          <button>Deseo Participar</button>
        </div>
      </div>
    </div>
  </div>
</div>

